@font-face {
    font-family: 'Digital-7 Mono';
    src: url('./digital-7.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.container {
    min-height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(#888, #222);
    border-radius: 10px;
    max-width: 150px;
}

.text {
    font-family: 'Digital-7 Mono', sans-serif;
    font-size: 30px;
    text-shadow: 0 0 3px #61dafb;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    width: 150px;
    margin: 10px 0;
}

.button:last-child {
    margin-left: 15px;
}