.labelContainer {
    display: flex;
    align-items: center;
}

.checkbox {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #ccc;
    border: 2px solid #000;
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    margin-right: 5px;
}

.checkbox:checked {
    background-color: #fff;
    background-image: url(../../../../images/check.png);
    background-size: cover;
    border: 2px solid #00b100;
}

.spanClassName {
}