.checkboxChecked {
    appearance: none;
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: linear-gradient(green, #015501);
    border: 3px solid #ddd;
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin-right: 5px;
}

.checkboxUnchecked {
    appearance: none;
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: #ddd;
    border: 2px solid green;
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    margin-right: 5px;
}